.about .intro-card {
  background-image: url('./about.jpg');
  color: #fff;
  height: 100vh;
}

.about-profile-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.about .intro-card h1 {
  justify-content: center;
  align-items: center;
}

.button-about {
  height: 3em;
  background: transparent;
  border: 2px solid #fff;
  transition: all .5s;
  cursor: pointer;
  animation: bounceIn 2s;
}
.button-about:hover {
  height: 3em;
  background-color: #04C2C9;
  border-color: #04C2C9;
}

.button-about a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width:600px) {

}
