/** Settings **/

.not-verified {
  z-index: 10;
  position: relative;
  padding: 10px;
}

.settings-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #dadada;
  border-radius: 0.25em;
  justify-content: left;
  width: 65%;
  margin: 5em auto;
  background-color: #fff;
  font-weight: 300 !important;
}

.settings-form-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row wrap;
  height: 2em;
  margin-bottom: .5em;
  align-items: center;
}

.settings-layout {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}

.settings-push-message {
  position: relative;
  min-height: 1em;
  margin: 1em 0;
  background: #f8f8f9;
  color: #424242;
  -webkit-transition: opacity .1s ease, color .1s ease, background .1s ease, box-shadow .1s ease;
  transition: opacity .1s ease, color .1s ease, background .1s ease, box-shadow .1s ease;
  border-radius: .25em;
  box-shadow: 0 0 0 1px rgba(34, 36, 38, .22) inset, 0 0 0 0 transparent;
  text-align: center;
  padding: .6em 0;
}

input.settings-form:focus {
  outline: none;
  font-size: 1em;
}

.settings-form {
  width: 100%;
  border: 1px solid #dadada;
  margin-right: .2em;
  height: inherit;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 1px 2px, rgba(0, 0, 0, 0.01) 0px 1px 1px;
}

.settings-email-update {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: .5em 0;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
  border-bottom: 1px solid #dadada;
}

.settings-push-update {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: .5em 0;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
}

.email-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.email-checkbox label {
  margin-left: 1em;
}

.email-checkbox {
  display: flex;
  flex-direction: row;

}

.settings-header {
  padding: .75rem 1.25rem;
  margin-top: 0;
  background-color: #f7f7f9;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.settings-notification-settings {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: .5em 0;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
}

.settings-card h3 {
  font-size: 1.3em;
  font-weight: 500;
}

.settings-email-update .button--remove {
  width: 13em;
}

.client-secret {
  word-wrap: break-word;
  margin-bottom: 2em;
}

.button-settings {
  width: 13rem;
  margin: 0 .2em;
}

/** Media Queries **/

@media (max-width:420px) {
  .settings-email-update {
    width: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .settings-notification-settings {
    width: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .settings-form-wrapper {
    flex-direction: column;
    height: auto;
  }
  .settings-form {
    width: 95%;
    height: 4em;
    border: 1px solid #dadada;
    margin: .5em auto;
  }
  .button--remove-settings {
    width: 100% !important;
  }
  .button-settings {
    width: 95% !important;
    margin: .7em auto;
  }
  .settings-card {
    font-size: 85%;
    font-weight: 300 !important;
  }
  .settings-header {
    padding: 0 .5em;
  }
}

@media (max-width:768px) {
  .settings-push-update {
    width: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width:900px) {
  .settings-email-update {
    width: 100%;
  }
  .settings-notification-settings {
    width: 100%;
  }
  .settings-card {
    justify-content: center;
    width: 95%;
    text-align: center;
  }
  .settings-email-update .button--remove {
    width: 7rem;
  }
  .button-settings {
    width: 8rem;
  }
}

@media (min-width:1560px) {
  .settings-card {
    width: 50%;
  }
}
