@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500');
/** General CSS **/

body {
  width: 100%;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  margin-top: 3.2em;
  background: #fafafa;
  font-weight: 100;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

h4 {
  text-align: center;
  padding: 0 .1em;
}

.button {
  display: inline-block;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  font-size: 1em;
  border-radius: 0.3em;
  background: dodgerblue;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background: #3F51B5;
}

.button-wrapper {
  display: flex;
  flex-flow: row wrap;
}


/** Intro **/

.intro-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 3em 0;
  color: #fff;
  align-items: center;
  justify-content: center;
  background-image: url('./zachary-staines-65775.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 18em;
}

.intro-card h1 {
  display: flex;
  font-size: 3em;
  align-items: center;
  width: 60%;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 0em;
  font-weight: 300;
}
.intro-card h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  width: 60%;
  padding: 0;
  font-weight: 300;
}

.intro-card p {
  display: flex;
  width: 60%;
  margin: 1em auto;
}

/** Login **/

.loginCard {
  display: flex;
  flex-direction: column;
  border: 1px solid #dadada;
  border-radius: 0.25em;
  justify-content: center;
  width: 50%;
  margin: 5em auto;
  text-align: center!important;
  background-color: #fff;
  font-weight: 300 !important;

}

.login-header {
  padding: .75rem 1.25rem;
  margin-top: 0;
  background-color: #f7f7f9;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  font-weight: 300;
}

.manual-login {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.email-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.password-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.login-input {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #dadada;
  height: 3em;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.button-login {
  margin: auto .2em;
}

.google-button {
  border-color: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  background-image: url('./btn_google_signin_dark_normal_web.png');
  height: 4.2em;
  width: 17.4em;
  margin: 1em auto;
  background-repeat: no-repeat;
}

.google-button:hover {
  background-image: url('./btn_google_signin_dark_pressed_web.png');
}

.google-login {
  margin-top: .2em;
}

/**  Navigation Bar  **/

nav {
  color: #fff;
  background-color: #424242;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  box-shadow: #323232 0 0.01em 0.03em, #323232 0 0.05em 0.1em;
  border-radius: 0px;
  position: relative;
  width: 100%;
  display: flex;
  padding-left: .1em;
  padding-right: .1em;
  align-items: center;
  height: 3em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  opacity: 0.85;
  font-weight: 100;
}

.brand {
  font-size: 1.5em;
  justify-content: center;
  margin-right: auto;
  margin-left: 0.6em;
  text-decoration: none !important;
}

.brand a {
  text-decoration: none !important;
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-size: .8em;
}

nav .brand a:hover {
  color: #000;
}

.menu li {
  display: inline-block;
  cursor: pointer;
  line-height: 3.3em;
  font-size: 1.1em;
  position: Relative;
}

.menu li a {
  display: block;
   padding: 0 1em;
  color: #fff;
  text-decoration: none !important;
}

.menu li:hover {
  background: #616161;
}

/** Search **/

.search-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0;
  align-items: center;
  justify-content: center;
}


/*.intro-card h1 {
  display: flex;
  font-size: 3em;
  align-items: center;
  width: 60%;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 0em;
}*/

.search {
  display: flex;
  width: 75%;
  flex-direction: row;
  margin: 0.8em auto 0;
}

input.search-form:focus {
  outline: none;
}

.search-form {
  width: 80%;
  height: 4em;
  border: 1px solid #dadada;
  margin-right: .1em;
  border-left: 0;
}
select.search-selection:focus {
  outline: none;
}
.search-selection {
  width: 15%;
  border: 1px solid #dadada;
  /*border-radius: 0;
  border-left: 0;*/
}
.search-button {
  width: 5%;
  border: 1px solid #dadada;
  border-right:0;
  border-radius: 0;
  padding: 0;
  background: #fff;

}
button.search-button:focus {
  outline: none;
}

.results {
  display: flex;
  width: 95%;
  flex-direction: column;
  padding: 0;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}


.list {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 1.2em;
  color: #444;
  justify-content: center;
  margin: 1em 2em;
  background: #fafafa;
}

/** Product **/

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #dadada;
  border-radius: 0.25em;
  background-color: #fff;
  justify-content: center;
}

.card h4, h3 {
  font-weight: 100;
  font-size: .8em;
}

.product-image {
  max-width: 100%;
  height: auto;
  margin: auto;
}

.price {
  color: red;
  font-size: 1.1em;
}

.product-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 0.5em 1em;
  background-color: #f7f7f9;
  border-top: 1px solid rgba(0, 0, 0, .125);
}

.product-footer p {
  padding: 0 .5em;
}

.item-info {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.button--product {
  width: auto;
  background-color: #5cb85c;
  border-color: #5cb85c;
  margin: .1em;
  height: 100%
}

.button--product:hover {
  background-color: #2E7D32;
  border-color: #2E7D32;
}

.button--remove {
  margin: .1em;
  height: 100%;
  width: auto;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.button--remove:hover {
  background-color: #c9302c;
  border-color: #ac2925;
}

.button--watch {
  margin: .1em;
  height: 100%;
  width: auto;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.button--watch:hover {
  background-color: #ec971f;
  border-color: #ec971f;
}

/** Hometout **/

.hometout-wrapper {
  display: flex;
  flex-direction: column;
  margin: -1em auto .5em;
  width: 80%;
  padding: 1em;

}

.hometout-wrapper-api {
  margin-top: 1em;
}

.hometout-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
  padding-bottom: 3em;
  width: 100;
  grid-gap: 1em;
  align-items: center;
}

.hometout-join {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #dadada;
  padding-right: 1em;
  align-items: center;
}

.button--hometout {
  background-color: #212121;
  border-color: #212121;
}

.button--hometout:hover {
  background-color: #424242;
  border-color: #424242;
}

.hometout-join h1 {
  font-size: 3em;
}

.hometout-join h2 {
  margin-top: -1em;
}

.hometout-wrapper p {
  line-height: 1.3em;
}

/** Watch List **/

.watch-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 3.5em auto 1em;
  text-align: center!important;
}

.watch-container .price {
  font-size: .75em;
}

.watch-container h1 {
  font-weight: 300;
}

.item-info-watch {
  justify-content: center;

}

.item-info-watch .current-price {
  color: #000;
  font-weight: 500;
  font-size: 1em;
  margin-top: -.5em;
}


/** Media Queries **/

@media (max-width:360px) {
  .menu li {
    font-size: .9em;
  }
}

@media (max-width:420px) {
  li .fa {
    font-size: 2.5em;
    justify-content: center;
    margin: 1em auto -.8em auto;
  }
}

@media (max-width:768px) {
  nav {
    justify-content: space-around;
  }
  .list {
    grid-template-columns: auto;
    margin: 0 .5em;
    grid-gap: .2em;
  }
  h3 {
    font-size: 1em;
  }
  .search {
    width: 90%;
  }
  li .fa {
    font-size: 3.2em;
    justify-content: center;
    margin: 1em auto -.6em auto;
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: .25rem;
    margin: .7em auto;
    width: 95%;
  }
  .col {
    display: flex;
    flex-direction: column;
    font-size: .5em;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    font-family: "Noto", sans-serif;
  }
  .brand {
    display: none;
  }
  .desktop-show {
    display: none;
  }
  .loginCard {
    width: 95%;
  }

  .menu li:hover {
    height: 4.2em;
  }

  .api-doc-nav {
    display: none !important;
  }

  .api-doc {
    grid-template-columns: auto !important;
  }

  .api-doc-intro {
    font-size: 65%;
  }


  .intro-card--api h1 {
    font-size: 1.3em;
    width: 100% !important;
  }

  .intro-card--api h4 {
    font-size: 1em;
    width: 95% !important;
  }

  .search-button, .search-selection {
    height: 4.4em;

  }

  .hometout-grid {
    display: grid;
    grid-template-columns: auto;
    margin: 0 auto;
    padding-bottom: 3em;
    width: 100;
    grid-gap: 1em;
    align-items: center;
  }

  .hometout-join {
    border-bottom: 1px solid #dadada;
    padding-bottom: 1em;
    border-right: none;
    padding-right: 0;
  }

  .hometout-join h2 {
    font-size: 1em;
  }

  .hometout-wrapper p {
    margin-top: -.5em;
  }


}

@media (min-width:769px) and (max-width:1000px) {
  .list {
    grid-template-columns: auto auto;
  }
}

@media (min-width:769px) {
  .mobile-show {
    display: none;
  }
}

@media (min-width:1600px) {
  .list {
    grid-template-columns: auto auto auto auto;
  }
}

/** Developer **/
footer {
  display: flex;
  justify-content: flex-start;
  height: 2em;
  /*background-color: rgba(33,150,243, 0.2);*/
  background-color: #dadada;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: #fff;
  background-color: #424242;
}

.footer-link {
  color: #fff;
  margin: 10px 20px 10px 20px;
  cursor: pointer;
  text-decoration: none !important;
}

.footer-link:hover {
  color: #2196F3;
}

.exit-dev-btn {
  margin-left: auto;
  margin-right: 0.6em;
  cursor: pointer;
}

.api-nav-title {
  margin-left: 20px;
  margin-right: 60px;
  font-size: 24px;
}

.api-nav * {
  text-decoration: none;
  color: white;
}

.developer button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.toggle-login {
  margin-bottom: 10px;
  text-decoration: underline;
  cursor: pointer;
}

.toggle-login:hover {
  color: #3F51B5;
}

.api-user-error {
  color: red;
  padding-bottom: 10px;
}

.api-user-success {
  padding-bottom: 10px;
}

.api-doc {
  display: grid;
  grid-template-columns: 20% 80%;
  width: 100%;
  flex-direction: column;
  padding: 3em 0;
  align-items: flex-start;
  justify-content: center;
  color: #000;
}

.api-doc-nav {
  display: flex;
  width: 90%;
  height: 200%;
  background: #dadada;
  flex-direction: column;
  padding-left: 1.2em;
  padding-top: 2em;
}

.api-doc h3 {
  font-weight: 500;
  font-size: 1em;
}

.api-doc-nav h5 {
  margin-top: -.5em;
}


.api-doc-intro {
  display: flex;
  width: 95%;
  margin: 0 auto;
  flex-direction: column;

}

.api-doc-intro--header {
  margin: 1em 0;
  border-bottom: 1px solid #efefef;
}

.intro-card--api h1 {
  justify-content: center;
  width: 75%;
  font-weight: 500;
}
.intro-card--api {
  background-image: none;
  background: #E0E0E0;
  color: #000;
  height: 13em;
}

.intro-card--api h4 {
  line-height: 1.2em;
}

.api-doc-intro h1, .api-doc-intro h2 {
  margin-bottom: 0;
  font-weight: 700;
}

.api-user-account {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 5em;
}

.dashboard-title {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  font-size: 1.5em;
  font-weight: bold;
}

.api-user-logout {
  font-size: 0.7em !important;
  cursor: pointer;
}

.intro-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

ol {
    list-style: decimal outside;
    font-weight: 300;
    margin-top: -1em;
}

ol p {
  font-weight: 100;
}

.auth-flow {
  height: 419px;
  width: 454px;
  background-image: url('./bb_client_flow.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 2em auto 2em auto;

}
