@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500');
/** General CSS **/

html {
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

h4 {
  text-align: center;
  padding: 0 .1em;
}

.button {
  display: inline-block;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  font-size: 1em;
  border-radius: 0.3em;
  background: dodgerblue;
  color: #fff;
  cursor: pointer;
  height: 100%;
  margin: .1em;
}

.button:hover {
  background: #3F51B5;
}


/** Intro **/

.intro-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 3em 0;
  color: #fff;
  align-items: center;
  justify-content: center;
  background-image: url('./zachary-staines-65775.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 24em;
}

.intro-card h1 {
  display: flex;
  font-size: 3em;
  align-items: center;
  width: 60%;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 0em;
  font-weight: 300;
  text-align: center;
  justify-content: center;
}

.intro-card h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  width: 60%;
  padding: 0;
  font-weight: 300;
}

.intro-card p {
  display: flex;
  width: 60%;
  margin: 1em auto;
}

/** Login **/

.login-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #dadada;
  border-radius: 0.25em;
  justify-content: center;
  width: 50%;
  margin: 5em auto;
  text-align: center!important;
  background-color: #fff;
  font-weight: 300 !important;
}

.login-header {
  padding: .75rem 1.25rem;
  margin-top: 0;
  background-color: #f7f7f9;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  font-weight: 300;
  text-align: center;
}

.manual-login {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.email-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.password-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.login-input {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #dadada;
  height: 3em;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
}

.button-login {
  margin: auto .2em;
  background-color: black;
}

.button-login:hover {
  background-color: #424242;
}

.button-signup {
  margin: auto .2em;
  background-color: black;
}

.button-signup:hover {
  background-color: #424242;
}

.google-button {
  border-color: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  background-image: url('./btn_google_signin_dark_normal_web.png');
  height: 4.4em;
  width: 17.1em;
  margin: 1em auto;
  background-repeat: no-repeat;
  padding-left: 100px;
  background-color: white;
}

.google-button:hover {
  cursor: pointer;
  background-image: url('./btn_google_signin_dark_pressed_web.png');
}

.google-login {
  margin-top: .2em;
}

/**  Navigation Bar  **/

nav {
  color: #fff;
  background-color: #424242;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  box-shadow: #323232 0 0.01em 0.03em, #323232 0 0.05em 0.1em;
  border-radius: 0px;
  position: relative;
  width: 100%;
  display: flex;
  padding-left: .1em;
  padding-right: .1em;
  align-items: center;
  height: 3em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  opacity: 0.85;
  font-weight: 100;
  text-transform: uppercase;
}

.brand {
  font-size: 1.5em;
  justify-content: center;
  margin-right: auto;
  margin-left: 0.6em;
  text-decoration: none !important;
}

.brand a {
  text-decoration: none !important;
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-size: .8em;
}

nav .brand a:hover {
  color: #000;
}

.menu li {
  display: inline-block;
  cursor: pointer;
  line-height: 3.3em;
  font-size: 1.1em;
  position: Relative;
}

.menu li a {
  display: block;
  padding: 0 1em;
  color: #fff;
  text-decoration: none !important;
}

.menu li:hover {
  background: #616161;
}

/** Search **/

.search-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.search {
  display: flex;
  width: 75%;
  flex-direction: row;
  margin: 0.8em auto 0;
  height: 2.75em;
}

input.search-form:focus {
  outline: none;
  font-size: 1em;
}

.form {
  width: 100%;
}

.search-form {
  width: 100%;
  border: 1px solid #dadada;
  height: inherit;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-appearance: none;
}

select.search-selection:focus {
  outline: none;
}

.search-selection {
  width: 15%;
  border: 1px solid #dadada;
  height: inherit;
}

.search-button {
  width: 5%;
  height: inherit;
  border: 1px solid #dadada;
  padding: 0;
  background: #E0E0E0;
  margin-right: .2em;
  font-size: .8em;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-appearance: none;
}

.search-button:hover {
  background: #9E9E9E;
  border-color: #9E9E9E;
}

button.search-button:focus {
  outline: none;
}

.results {
  display: flex;
  width: 95%;
  flex-direction: column;
  padding: 0;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.list {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 1.2em;
  color: #444;
  justify-content: center;
  margin: 1em 2em 4em;
  background: #fafafa;
}

/** Product **/

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #dadada;
  border-radius: 0.25em;
  background-color: #fff;
  justify-content: center;
}

.card-set-price {
  padding: 1em;
  width: 90%
}

.card h4, h3 {
  font-weight: 100;
  font-size: .8em;
}

.product-image {
  max-width: 100%;
  height: auto;
  margin: auto;
}

.price {
  color: red;
  font-size: 1.1em;
}

.product-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 0.5em 1em;
  background-color: #f7f7f9;
  border-top: 1px solid rgba(0, 0, 0, .125);
}

.product-footer p {
  padding: 0 .5em;
}

.item-info {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.button--product {
  width: auto;
  background-color: #5cb85c;
  border-color: #5cb85c;
  margin: .1em;
  height: 100%
}

.button--product:hover {
  background-color: #2E7D32;
  border-color: #2E7D32;
}

.button--remove {
  margin: .1em;
  height: 100%;
  width: auto;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.button--remove:hover {
  background-color: #c9302c;
  border-color: #ac2925;
}

.button--watch {
  margin: .1em;
  height: 100%;
  width: auto;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.button--watch:hover {
  background-color: #ec971f;
  border-color: #ec971f;
}

/** Hometout **/

.hometout-wrapper {
  display: flex;
  flex-direction: column;
  margin: -4em auto .5em;
  width: 80%;
  padding: 1em;
}

.hometout-wrapper-api {
  margin-top: 1em;
}

.hometout-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
  padding-bottom: 3em;
  width: 100;
  grid-gap: 1em;
  align-items: center;
}

.hometout-join {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #dadada;
  padding-right: 1em;
  align-items: center;
}

.button--hometout {
  background-color: #212121;
  border-color: #212121;
}

.button--hometout:hover {
  background-color: #424242;
  border-color: #424242;
}

.hometout-join h1 {
  font-size: 3em;
}

.hometout-join h2 {
  margin-top: -1em;
}

.hometout-wrapper p {
  line-height: 1.3em;
}

/** Watch List **/

.watch-list {
  grid-template-columns: auto;
  margin: 1em;
  grid-gap: .2em;
}

.watch-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 3.5em auto 1em;
  text-align: center!important;
}

.watch-container .price {
  font-size: .9em;
  font-weight: 300;
}

.watch-container h1 {
  font-weight: 300;
}

.item-info-watch {
  justify-content: left;
  flex-direction: column;
  width: 100%
}

.item-info-watch .current-price {
  color: #000;
  font-weight: 500;
  font-size: 1em;
  margin-top: -.5em;
}

.item-info-merchant {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}

.watch-card {
  display: flex;
    flex-direction: row;
    border: 1px solid #dadada;
    border-radius: 0.25em;
    background-color: #fff;
    justify-content: center;
    margin-bottom: 1em;
}

.watch-item-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 0.5em 1em;
    background-color: #f7f7f9;
    border-left: 1px solid rgba(0, 0, 0, .125);
    width: 70%;
}

.watch-list h3 {
  font-size: 1em;
  font-weight: 500;
}

.watch-form {
    width: 50%;
    border: 1px solid #dadada;
    height: 2.5rem;
    margin: 1em auto;
}

input.watch-form:focus {
  outline: none;
  font-size: 1em;
}

.button-product-watch {
  width: 50%;
  margin: 0 auto;
}

/** Settings **/

.settings-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #dadada;
  border-radius: 0.25em;
  justify-content: left;
  width: 80%;
  margin: 5em auto;
  background-color: #fff;
  font-weight: 300 !important;
}

.settings-header {
  padding: .75rem 1.25rem;
  margin-top: 0;
  background-color: #f7f7f9;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  font-weight: 300;
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.settings-form-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row wrap;
  height: 2em;
  margin-bottom: .5em;
  align-items: center;
}

.settings-layout {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}

input.settings-form:focus {
  outline: none;
  font-size: 1em;
}

.settings-form {
  width: 100%;
  border: 1px solid #dadada;
  margin-right: .2em;
  height: inherit;
}

.settings-email-update {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: .5em 0;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
  border-bottom: 1px solid #dadada;
}

.email-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.settings-header {
  padding: .75rem 1.25rem;
  margin-top: 0;
  background-color: #f7f7f9;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.settings-notification-settings {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: .5em 0;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
}

.settings-card h3 {
  font-size: 1.3em;
  font-weight: 500;
}

.client-secret {
  word-wrap: break-word;
  margin-bottom: 2em;
}

/** Media Queries **/

@media (max-width:360px) {
  .menu li {
    font-size: .9em;
  }
}

@media (max-width:420px) {
  li .fa {
    font-size: 2.5em;
    justify-content: center;
    margin: 1em auto -.8em auto;
  }
  .settings-email-update {
    width: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .settings-notification-settings {
    width: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }


  .settings-form-wrapper {
    flex-direction: column;
    height: auto;
  }
  .settings-form {
    width: 95%;
    height: 4em;
    border: 1px solid #dadada;
    margin: .5em auto;
  }
  .button--remove-settings {
    width: 100% !important;
  }
  .button-settings {
    width: 100% !important;
    margin-top: .7em;
  }
  .settings-card {
    font-size: 85%;
    font-weight: 300 !important;
  }

  .settings-header {
    padding: 0;
  }

}

@media (max-width:600px) {
  .button--remove {
    margin: .5em 0;
    height: 100%;
    width: auto;
    background-color: #d9534f;
    border-color: #d43f3a;
  }

  .search-selection {
    width: 20%;
  }

  .search-button {
    width: 10%;
  }

  .search-form {
    width: 70%;
  }

  .watch-form {
      width: 95%;
  }

  .button-product-watch {
    width: 95%;
  }

}

@media (max-width:768px) {

  nav {
    justify-content: space-around;
  }
  .menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .list {
    grid-template-columns: auto;
    margin: 0 .5em;
    grid-gap: .2em;
  }

  h3 {
    font-size: 1em;
  }
  .search {
    width: 90%;
  }
  li .fa {
    font-size: 3.2em;
    justify-content: center;
    margin: 1em auto -.6em auto;
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: .25rem;
    margin: .7em auto;
    width: 95%;
  }
  .col {
    display: flex;
    flex-direction: column;
    font-size: .5em;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    font-family: "Noto", sans-serif;
  }
  .brand {
    display: none;
  }
  .desktop-show {
    display: none;
  }
  .login-card {
    width: 95%;
  }
  .menu li:hover {
    height: 4.2em;
  }
  .api-doc-nav {
    width: 100% !important;

  }
  .api-doc {
    display: flex !important;
    flex-direction: column !important;
  }
  .api-doc-intro {
    font-size: 85%;
  }
  .intro-card--api h1 {
    font-size: 1.3em;
    width: 100% !important;
  }
  .intro-card--api h4 {
    font-size: 1em;
    width: 95% !important;
  }

  .hometout-grid {
    display: grid;
    grid-template-columns: auto;
    margin: 0 auto;
    padding-bottom: 3em;
    width: 100;
    grid-gap: 1em;
    align-items: center;
  }
  .hometout-join {
    border-bottom: 1px solid #dadada;
    padding-bottom: 1em;
    border-right: none;
    padding-right: 0;
  }
  .hometout-join h2 {
    font-size: 1em;
  }
  .hometout-wrapper p {
    margin-top: -.5em;
  }
  .settings-email-update {
    width: 100%;
  }

  .settings-notification-settings {
    width: 100%;
  }

  .settings-card {
    justify-content: center;
    width: 95%;
    text-align: center;
  }
  .api-user-account {
    display: grid;
    grid-template-columns: auto;
    width: 95%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 5em;
  }

  .watch-card {
      flex-direction: column;
  }

  .watch-item-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 0.5em 1em;
    background-color: #f7f7f9;
    border-top: 1px solid rgba(0, 0, 0, .125);
    width: 100%;
    border-left: none;
  }

  .api-doc-nav {
    border-left: 3px solid #f00;
    padding: 1em;
  }

}

@media (min-width:769px) and (max-width:1000px) {
  .list {
    grid-template-columns: auto auto;
  }
}



@media (min-width:769px) {
  .mobile-show {
    display: none;
  }

  .button-wrapper--watch {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    width: 85%;
}
}

@media (min-width:1600px) {
  .list {
    grid-template-columns: auto auto auto auto;
  }
}

/** Developer **/

/*footer {
  display: flex;
  justify-content: flex-start;
  height: 2em;
  background-color: #dadada;
  width: 100%;
  color: #fff;
  background-color: #424242;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}*/

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #dadada;
  text-align: center;
}

.footer-link {
  color: #fff;
  margin: 10px 20px 10px 20px;
  cursor: pointer;
  text-decoration: none !important;
}

.footer-link:hover {
  color: #2196F3;
}

.exit-dev-btn {
  margin-left: auto;
  margin-right: 0.6em;
  cursor: pointer;
}

.api-nav-title {
  margin-left: 20px;
  margin-right: 60px;
  font-size: 24px;
}

.api-nav * {
  text-decoration: none;
  color: white;
}

.developer button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.toggle-login {
  margin-bottom: 10px;
  text-decoration: underline;
  cursor: pointer;
}

.toggle-login:hover {
  color: #3F51B5;
}

.api-user-error {
  color: red;
  padding-bottom: 10px;
}

.api-user-success {
  padding-bottom: 10px;
}

.api-doc {
  display: grid;
  grid-template-columns: 20% 80%;
  width: 100%;
  flex-direction: column;
  padding: 3em 0;
  align-items: flex-start;
  justify-content: center;
  color: #000;
}

.api-doc-nav {
  display: flex;
  width: 90%;
  height: 200%;
  background: #dadada;
  flex-direction: column;
  padding-left: 1.2em;
  padding-top: 2em;
}

.api-doc h3 {
  font-weight: 500;
  font-size: 1em;
  color: #757575;
}

.api-doc-nav a {
  text-decoration: none !important;
  color: #414141 !important;
}

.api-doc-nav h5:hover {
  text-decoration: underline;
  color: #3F51B5;
}

.api-doc-nav h5 {
  margin-top: -.5em;
}

.api-doc-intro {
  display: flex;
  width: 95%;
  margin: 0 auto;
  flex-direction: column;
}

.api-doc-intro--header {
  margin: 1em 0;
  border-bottom: 1px solid #efefef;
}

.intro-card--api h1 {
  justify-content: center;
  width: 75%;
  font-weight: 500;
}

.intro-card--api {
  background-image: none;
  background: #E0E0E0;
  color: #000;
  height: 18em;
}

.intro-card--api h4 {
  line-height: 1.2em;
}

.api-doc-intro h1, .api-doc-intro h2 {
  margin-bottom: 0;
  font-weight: 700;
}

.api-user-account {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 5em;
}

.dashboard-title {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  font-size: 1.5em;
  font-weight: bold;
}

.api-user-logout {
  font-size: 0.7em !important;
  cursor: pointer;
}

.intro-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

ol {
  list-style: decimal outside;
  font-weight: 300;
  margin-top: -1em;
}

ol p {
  font-weight: 100;
}

.auth-flow {
  max-width: 80%;
  margin: 2em auto 2em auto;
}

.snippet {
  color: #505050;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #505050;
  border-radius: 3px;
  margin: 20px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  background-color: #F0F0F0;
  word-break: break-all;
  word-wrap: break-word;
}

.param {
  margin: 20px;
  border-collapse: collapse;
}

.param th {
  font-weight: normal;
  max-width: 40em;
  text-align: left;
  background-color: #d9edf7;
  padding: 0.5em 1em;
}

.param td {
  max-width: 40em;
  text-align: left;
  background-color: #F8F8F8;
  padding: 0.5em 1em;
}

.value-lower {
  margin-left: 4em !important;
}
