@import url('https://fonts.googleapis.com/css?family=Roboto:100');
/** General CSS **/

body {
  width: 100%;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  margin-top: 3.2em;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

h4 {
  text-align: center;
  padding: 0 .1em;
}

.button {
  display: inline-block;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  font-size: 1em;
  border-radius: 0.3em;
  background: dodgerblue;
  color: #fff;
}

.button:hover {
  background: #3F51B5;
}

.button-wrapper {
  display: flex;
  flex-flow: row wrap;
}

/** Intro **/

.intro-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 3em 0;
  color: #fff;
  align-items: center;
  justify-content: center;
  background-image: url('./amazon-prime-boxes.jpg');
  background-attachment: fixed;
  height: 15em;
}

.intro-card .fa {
  margin: .1em auto;
  font-size: 10em;

}

.intro-card h1 {
  display: flex;
  font-size: 3em;
  align-items: center;
  width: 60%;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 0em;
}
.intro-card h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  width: 60%;
  padding: 0;
}

.intro-card p {
  display: flex;
  width: 60%;
  margin: 1em auto;
}

/** Login **/

.loginCard {
  display: flex;
  flex-direction: column;
  border: 1px solid #dadada;
  border-radius: 0.25em;
  justify-content: center;
  width: 50%;
  margin: 5em auto;
  text-align: center!important;
  background-color: #fff;

}

.login-header {
  padding: .75rem 1.25rem;
  margin-top: 0;
  background-color: #f7f7f9;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.manual-login {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.email-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.password-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.login-input {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #dadada;
  height: 3em;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.button-login {
  margin: auto .2em;
}

.google-button {
  border-color: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  padding: 0;
}

.google-login {
  margin-top: .2em;
}

/**  Navigation Bar  **/

nav {
  color: #fff;
  background-color: #2196f3;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  box-shadow: #323232 0 0.01em 0.03em, #323232 0 0.05em 0.1em;
  border-radius: 0px;
  position: relative;
  width: 100%;
  display: flex;
  padding-left: .1em;
  padding-right: .1em;
  align-items: center;
  height: 3.5em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.brand {
  font-size: 1.5em;
  justify-content: center;
  margin-right: auto;
  margin-left: 0.6em;
  text-decoration: none !important;
}

.brand a {
  text-decoration: none !important;
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-size: .8em;
}

nav .brand a:hover {
  color: #244589;
}

.menu li {
  display: inline-block;
  padding: 0 1em;
  cursor: pointer;
  line-height: 3.3em;
  font-size: 1.1em;
  position: Relative;
}

.menu li a {
  color: #fff;
  text-decoration: none !important;
}

.menu li:hover {
  background: #244589;
}

/** Search **/

.search-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0;
  align-items: center;
  justify-content: center;
}


/*.intro-card h1 {
  display: flex;
  font-size: 3em;
  align-items: center;
  width: 60%;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 0em;
}*/

.search {
  display: flex;
  width: 50%;
  flex-direction: row;
  margin: 0.8em auto 0;
}

input.search-form:focus {
  outline: none;
}

.search-form {
  width: 80%;
  height: 3em;
  border: 1px solid #dadada;
  margin-right: .1em;
  border-left: 0;
}
select.search-selection:focus {
  outline: none;
}
.search-selection {
  width: 15%;
  border: 1px solid #dadada;
  /*border-radius: 0;
  border-left: 0;*/
}
.search-button {
  width: 5%;
  border: 1px solid #dadada;
  border-right:0;
  border-radius: 0;
  padding: 0;

}
button.search-button:focus {
  outline: none;
}

.results {
  display: flex;
  width: 80%;
  flex-direction: column;
  padding: 0;
  align-items: center;
  justify-content: center;
}


.list {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 1.2em;
  color: #444;
  justify-content: center;
  margin: 1em 2em;
}

/** Product **/

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #dadada;
  border-radius: 0.25em;
  background-color: #fff;
  justify-content: center;
}

.product-image {
  max-width: 100%;
  height: auto;
  margin: auto;
}

.price {
  color: red;
  font-size: 1.1em;
}

.product-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 0.5em 1em;
  background-color: #f7f7f9;
  border-top: 1px solid rgba(0, 0, 0, .125);
}

.product-footer p {
  padding: 0 .5em;
}

.item-info {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.button--product {
  width: auto;
  background-color: #5cb85c;
  border-color: #5cb85c;
  margin: .1em;
  height: 50%
}

/** Media Queries **/

@media (max-width:360px) {
  .menu li {
    font-size: .9em;
  }
}

@media (max-width:420px) {
  li .fa {
    font-size: 2.5em;
    justify-content: center;
    margin: 1em auto -.8em auto;
  }
}

@media (max-width:768px) {
  nav {
    justify-content: space-around;
  }
  .list {
    grid-template-columns: auto;
    margin: 0 .5em;
    grid-gap: .2em;
  }
  h3 {
    font-size: 1em;
  }
  .search {
    width: 90%;
  }
  li .fa {
    font-size: 3.2em;
    justify-content: center;
    margin: 1em auto -.6em auto;
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: .25rem;
    margin: .7em auto;
    width: 95%;
  }
  .col {
    display: flex;
    flex-direction: column;
    font-size: .5em;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    font-family: "Noto", sans-serif;
  }
  .brand {
    display: none;
  }
  .desktop-show {
    display: none;
  }
  .loginCard {
    width: 95%;
  }
}

@media (min-width:769px) and (max-width:1000px) {
  .list {
    grid-template-columns: auto auto;
  }
}

@media (min-width:769px) {
  .mobile-show {
    display: none;
  }
}

@media (min-width:1500px) {
  .list {
    grid-template-columns: auto auto auto auto;
  }
}

/** Developer **/
footer {
  display: flex;
  justify-content: flex-start;
  height: 2em;
  /*background-color: rgba(33,150,243, 0.2);*/
  background-color: #dadada;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: #fff;
}

.footer-link {
  margin: 10px 20px 10px 20px;
  cursor: pointer;
}

.exit-dev-btn {
  margin-left: auto;
  margin-right: 0.6em;
  cursor: pointer;
}

.developer * {
  text-decoration: none;
  color: white;
}

.api-nav-title {
  margin-left: 20px;
  margin-right: 60px;
  font-size: 24px;
}

.dev-login * {
  color: grey;
}
